# This is an example environment variable file.
# Rename this file to ".env" and replace the placeholder values with your actual configuration.
# Do not commit your actual .env file to version control.

DATABASE_URL="postgresql://user:password@localhost:5432/mydatabase"
JWT_SECRET="your_jwt_secret_key"
CLOUDINARY_CLOUD_NAME="demo"
CLOUDINARY_API_KEY="874837483748374"
CLOUDINARY_API_SECRET="a676b67565a676b67565a676b67"
PORT=4000